{% extends "Fitness/base.html" %}

{% block title %} Profile {% endblock %}


{% block content %} 
<h1 class="mt-2"> 
    Fitness App
 </h1>
 <hr class="mt-0 mb-4">
    <h1>{{user.username}}</h1>
    <form method="POST" action = "#">
        {% csrf_token %}
        <br>
        <h2>Name:</h2>
        <div class="input-group mb-3">
            <input type="text", value="{{profile.fullname}}", name="fullname" class="form-control">
        </div>
        <h2>Age:</h2>
        <div class="input-group mb-3">
            <input type="text", value="{{profile.age}}", name="age" class="form-control">
        </div>
        <h2>Height:</h2>
        <div class="input-group mb-3">
            <input type="text", value="{{profile.height}}", name="height" class="form-control">
        </div>
        <h2>Weight:</h2>
        <div class="input-group mb-3">
            <input type="text", value="{{profile.weight}}", name="weight" class="form-control">
        </div>
        <p class="btnwrap"><button type="submit", name="save", value="save" class="btn btn-success">Save</button></p>
    </form>
{% endblock %}